<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet                             
          " href="style.css">
        <title>Carry-Out Food Order</title>
    </head>
    <body>
        <center><h5 id="todaysdate" style="color:coral;">Today is:</h5></center>
        <script> 
        document.getElementById("todaysdate").innerHTML = "Today is: "+ (new Date().toLocaleDateString()); 
        </script>

        <div class="top">
            <div class="balance">
                <div class="balance__title">
                    Select Items For Your Food Order<span></span>
                </div>

                <!-- order total HIDDEN is initially zero before any food items ordered -->
                <div class="balance__value" hidden>+ 0.00</div>

                <!-- order total user sees -->
                <div class="balance__income clearfix">
                    <div class="balance__income--text"><b>Shopping Cart Subtotal</b></div>
                    <div class="right">
                        <div class="balance__income--value">+ 0.00</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bottom">
            <div class="add">
                <div class="add__container">
                    <!-- +/- operator function selector HIDDEN (only got 1 list type at present)-->
                    <select class="add__type" hidden>
                        <option value="inc" selected>+</option>
                        <option value="zzz">-</option>
                    </select>

                    <!-- dropdown select list of food items. first option displays but cannot choose it, only shows explanation text.-->
                    <select class="add__description" >
                        <option selected disabled>--Choose your food item--</option>
                        <option value="Spagetti">Spagetti</option>
                        <option value="Lasagna">Lasagna</option>
                        <option value="Beef Bolognese Pappardelle">Beef Bolognese Pappardelle</option>
                        <option value="Pizza - Pepperoni, Sausage">Pizza - Pepperoni, Sausage</option>
                        <option value="Pizza - 3 Meat Combo">Pizza - 3 Meat Combo</option>
                        <option value="Pizza - Veggie Combo">Pizza - Veggie Combo</option>
                        <option value="Tiramisu">Tiramisu</option>
                        <option value="Cannolis">Cannolis</option>
                        <option value="Spumoni Ice Cream">Spumoni Ice Cream</option>
                        <option value="Drink - Fresh Lemonade 16oz">Drink - Fresh Lemonade 16oz</option> 
                        <option value="Drink - Bottled Water 16oz">Drink - Bottled Water 16oz</option> 
                    </select>

                    <!-- initially accepted user input for price. Now using 'readonly' keyword to disable user input since got it now automatically updating upon listener-detected change of SELECT choice.-->
                    <input type="number" id="itemPrice" class="add__value" tabindex="-1" 
                        readonly placeholder="Price">

                    <!-- user clicks button at right of dropdown selector to triggering event listener callback func that will insert food choice into food order list --> 
                    <button class="add__btn"><img src="checkmark_circle_32px.png" width="40%"
                        height="auto"\></button>
                </div>
            </div>

            <div class="container clearfix">
              <!-- container -->
                <div class="income">
                    <h2 class="income__title">Shopping Cart Items</h2>

                    <div class="income__list">
                       <!-- initially empty food item list. user choices to populate it. --> 
                    </div>
                </div>

            </div>

        </div>

        <script src="app.js"></script>
    </body>
</html>